{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "plain_test/main.css" %}">
{% endblock %}

{% block content %}


    <button id="btn_test_arr" class="border-button" onclick="get_arr()">Получить отчет</button>

    <div id="content">
        <div id="left">
            {#            <button>sdd</button>#}
            <button id="per_ch">Пересчитать части</button>
            <button id="sb_ch">Сбросить части</button>
        </div>

        <div id="right">
            <button id="per_pr">Пересчитать продукты</button>
            <button id="sb_pr">Сбросить продукты</button>
        </div>
    </div>



    <script type="text/javascript" src="{% static "./plain_test/js/test.js" %}"></script>
{% endblock %}




